{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ankit Kr. Bhasker</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ankit Bhasker. Currently Pursuing Masters in AI and DS.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:bhaskerankit5@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                bhaskerankit5@gmail.com<br><br>
                <a target="_blank" href='https://github.com/ankitbhasker'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/2/29/GitHub_logo_2013.svg" height="40" width="40"></a> :
                ankit.bhasker<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/ankit-bhasker/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" height="40" width="40"></a> :
                ankitbhasker<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ashwini Kumar</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ashwini. Currently pursuing Master of Technology in AI and DS. My Interest lies in ML, AI and Regression.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ashwini.verma.564@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                ashwini.verma.564@gmail.com<br><br>
                 <a target="_blank" href='https://www.linkedin.com/in/ashwini-verma-21305b26a/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" height="40" width="40"></a> :
                Ashwini Verma<br>
            </div>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Gurvin Kour</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Gurvin Kour. Currently Pursuing Masters in AI and DS.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:gurvinkour1@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                gurviinkour1@gmail.com<br><br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Aryan</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Aryan. Currently Pursuing Bachelor of Technology in Biotechnology from NIT Jalandhar. My Main Focus is Genomic Study and Biological Sciences .</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:aryan40314@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                aryan40314@gmail.com<br><br>
                <a target="_blank" href='https://github.com/aryan4031'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/2/29/GitHub_logo_2013.svg" height="40" width="40"></a> :
                Aryan_<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/aryan-gupta-75aaa7325?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" height="40" width="40"></a> :
                Aryan Gupta<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}